flask
flask-cors
pandas
requests
openpyxl
xlrd
python-dotenv
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
google-auth-oauthlib
google-auth-httplib2
google-auth
oauth2client
Werkzeug
smtplib
email-validator
gunicorn
